
.gradle/gradle.log
.gradle/2.0/taskArtifacts/cache.properties
.gradle/2.0/taskArtifacts/cache.properties.lock
.gradle/2.0/taskArtifacts/fileHashes.bin
.gradle/2.0/taskArtifacts/fileSnapshots.bin
.gradle/2.0/taskArtifacts/outputFileStates.bin
.gradle/2.0/taskArtifacts/taskArtifacts.bin
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/Gradle___Users_Jake__gradle_caches_minecraft_net_minecraftforge_forge_1_7_10_10_13_2_1291_start.xml
.idea/scopes/scope_settings.xml
eclipse/*
forge.iws
forge-1.7.10-10.13.2.1291-changelog.txt
gradlew
gradlew.bat
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
CREDITS-fml.txt
forge.iml
forge.ipr
.idea/libraries/Botania_r1_6_181_deobf.xml
.idea/libraries/Baubles_deobf_1_7_10_1_0_1_10.xml
.idea
eclipse
Rainbow.iws
Rainbow.ipr
Rainbow.iml